# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Temporary files
tmp/
temp/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp

# Ignore specific files for React apps
package-lock.json
yarn.lock
